# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

/library-opioidcds-recommendation-08-stu3.xml
/library-opioidcds-recommendation-05-stu3.xml
/library-opioidcds-recommendation-11-stu3.xml
/library-opioidcds-recommendation-11-stu4.xml
/library-opioidcds-recommendation-10-dstu2.xml
/OpioidCDS_DSTU2_REC_11.xml
/OpioidCDS_STU3_Common.xml
/OMTKLogic-0.0.1.xml
/OpioidCDS_STU4_REC_11.xml
/library-opioidcds-common-stu3.xml
/OMTKLogic-0.0.0.xml
/library-opioidcds-recommendation-05-dstu2.xml
/library-opioidcds-recommendation-04-stu4.xml
/OpioidCDS_DSTU2_REC_10.xml
/OpioidCDS_STU3_REC_11.xml
/OpioidCDS_DSTU2_REC_04.xml
/library-opioidcds-recommendation-07-stu4.xml
/OpioidCDS_STU4_REC_10.xml
/OpioidCDS_STU4_REC_05.xml
/library-opioidcds-recommendation-08-dstu2.xml
/library-omtk-logic-0.1.0.xml
/OpioidCDS_STU3_REC_10.xml
/OpioidCDS_DSTU2_Common.xml
/library-opioidcds-recommendation-07-stu3.xml
/library-opioidcds-recommendation-04-dstu2.xml
/OMTKLogic-0.1.0.xml
/library-opioidcds-recommendation-08-stu4.xml
/OpioidCDS_STU4_Common.xml
/OpioidCDS_STU4_REC_04.xml
/OpioidCDS_STU3_REC_05.xml
/OMTKData-0.0.0.xml
/OpioidCDS_DSTU2_REC_07.xml
/library-omtk-logic-0.0.1.xml
/OpioidCDS_STU3_REC_04.xml
/library-opioidcds-recommendation-11-dstu2.xml
/library-opioidcds-recommendation-10-stu3.xml
/library-omtk-data-0.0.0.xml
/library-omtk-logic-0.0.0.xml
/library-opioidcds-recommendation-07-dstu2.xml
/OpioidCDS_DSTU2_REC_05.xml
/OpioidCDS_STU3_REC_07.xml
/library-opioidcds-recommendation-10-stu4.xml
/library-opioidcds-recommendation-04-stu3.xml
/library-opioidcds-common-dstu2.xml
/OpioidCDS_STU3_REC_08.xml
/OpioidCDS_STU4_REC_07.xml
/library-opioidcds-common-stu4.xml
/OpioidCDS_DSTU2_REC_08.xml
/library-opioidcds-recommendation-05-stu4.xml
/OpioidCDS_STU4_REC_08.xml
